// VARIABLES-COLOR
$color-dark-green: #23772C;
$color-mid-green: #2E9F3A;
$color-light-green: #2FC93F;
$color-secondary: #F89C04;
$color-white: #ffffff;
$color-black: #000000;
$color-light-grey: #F2F2F2;
// VARIABLES-BORDERS
$border-radius: 10px;
$border: #d5d5d4a8 solid thin;
// VARIABLES-BOX-SHADOW
$box-shadow: 0 4px 4px;
// VARIABLES-LOGO SIZE
$logo-mobile: 28px;
$logo-tablet: 35px;
$logo-large: 45px;
// VARIABLES-USER-SELECT
$user-select: none; 