.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 52px 200px 300px 640px 1120px 260px 1fr 425px 100px;

    @include mq {
        grid-template-rows: 52px 36px 0px 505px 400px 600px 260px 1fr 415px 60px;
    }


    // #region HEADER CONTAINER
    .header-container {
        display: grid;
        grid-template-columns: 1fr 6fr 1fr;
        grid-template-rows: 52px;
        column-gap: 10%;
        position: fixed;
        top: 0;
        width: 100%;
        overflow: hidden;
        background-color: $color-dark-green;


        @include mq("tablet") {
            max-width: 1200px;
            grid-template-columns: 119.75px 119.75px 4fr 119.75px 119.75px;
            column-gap: 0;

        }

        @include mq("desktop") {
            max-width: 1200px;
            grid-template-columns: 140.42px 140.42px 5fr 140.42px 140.42px;
            column-gap: 0;
        }

    }

    // #endregion

    // #region NAVIGATION-CONTAINER
    .navigation-container {

        @include mq("tablet") {
            width: 100%;
            display: grid;
            grid-template-columns: 65px 1fr 1fr 65px;
            grid-template-rows: 36px;
            column-gap: 0;
            background-color: $color-light-green;

        }

        @include mq("desktop") {
            width: 100%;
            display: grid;
            max-width: 1200px;
            grid-template-columns: 65px 1fr 1fr 65px;
            grid-template-rows: 36px;
            column-gap: 0;
            background-color: $color-light-green;
        }

    }

    // #endregion

    // #region INTRO-CONTAINER
    .intro-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 200px;

        @include mq("desktop") {
            width: 100%;
            max-width: 1200px;
            grid-template-columns: 1fr;
            grid-template-rows: 505px;
        }
    }

    // #endregion

    // #region CALL-CONTAINER
    .call-container {
        width: 100%;

        @include mq {
            display: grid;
            width: 100%;
            height: 100%;
            max-width: 1200px;
            justify-content: end;
            padding-top: 1.8%;
            padding-right: 3%;
        }

    }
    // #endregion

    // #region CARDS-CONTAINER
    .cards-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 520px;
        width: 100%;

        @include mq("tablet") {
            grid-template-rows: 60px 270px;
        }

        @include mq("desktop") {
            max-width: 1200px;
            padding-top: 0;
            grid-template-rows: 70px 270px;
        }
    }

    // #endregion

    // #region TARRIFS-CONTAINER
    .tarrifs-container {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;

        @include mq {
            max-width: 1200px;
            grid-template-rows: 70px 500px;
        }
    }

    // #endregion

    // #region COMMENTS-CONTAINER
    .comments-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40px 170px;
        justify-items: center;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: $border;
        border-bottom: $border;

        @include mq {
            max-width: 1200px;
        }
    }

    // #endregion

    // #region ASSISTANCE-CONTAINER
    .assistance-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 266px 11px 266px;
        width: 100%;

        @include mq {
            max-width: 1200px;
            grid-template-columns: 1fr 11px 1fr;
            grid-template-rows: 426px;
        }
    }

    // #endregion

    // #region FOOTER-CONTAINER
    .footer-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 305px 80px;
        width: 100%;

        @include mq {
            grid-template-rows: 70px 305px;
        }

        @include mq("desktop") {
            grid-template-rows: 80px 306px;
            max-width: 1200px;
        }
    }

    // #endregion

    // #region FOOTER-BOTTOM-CONTAINER
    .footer-bottom-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60px 30px;
        width: 100%;
        justify-items: center;

        @include mq {
            max-width: 1200px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 60px;
            padding-left: 15px;
            padding-right: 10px;
        }

        @include mq("desktop") {
            padding-left: 40px;
            padding-right: 40px;
        }

        @include mq("large") {
            padding-left: 0;
            padding-right: 0;
        }

    }

    // #endregion

}