* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $color-black;
}

button {
    border: none;
    cursor: pointer;
}