// ROOT
html {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
}
// FONT-SIZES
$font-ten: 0.63rem;
$font-xsmall: 0.75rem; // 12px
$font-small: 1rem; // 16px
$font-medium: 1.5rem; // 24px
$font-large: 1.75rem; // 28px
$font-xlarge: 2.5rem; // 40px
$font-big: 3.13rem; // 50px
// UPPERCASE
$uppercase: uppercase;